.home-container {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
}

@media screen and (max-width: 850px) {
  .home-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.home__link {
  display: flex;
  margin: 5% 0;
  text-decoration: none;
  background-color: rgba(240, 149, 30, 0.988);
  border: solid 2px rgb(255, 255, 255);
  width: 30%;
  max-height: 130px;
  color: #f4f4f4;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .home__link {
    min-height: 130px;
  }
}

.home__link:hover {
  background-color: rgba(240, 149, 30, 0.679);
  color: #393838;
}
