.search-bar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.search-bar__input {
  width: 25%;
  background-color: #fffcfc;
  color: #2f2f2f;
  height: 2rem;
  border: 1px solid rgb(0, 77, 153);
  padding: 10px;
}
.search-bar__btn {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #cdcccc;
}
